.contacts {
    background: rgb(65, 65, 65);
    color: white;
}

.contacts__table {
    margin: 0 auto;
    width: 75%;
}

.contacts__row {
    display: flex;
    justify-content: space-evenly;
}

.contacts__item {
    width: 30%;
    height: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.contacts__icon {
    font-size: 52px;
}

.contacts__type {
    font-size: 32px;
}

.contacts__text {
    text-align: center;
    line-height: 24px;
    height: 50px;
}

@media screen and (max-width: 968px) {    
    .contacts__row {
        justify-content: space-between;
    }
    
    .contacts__item {
        width: 30%;
        height: 25vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .contacts__icon {
        font-size: 36px;
    }
    
    .contacts__type {
        font-size: 22px;
    }

    .contacts__text {
        line-height: 20px;
        height: 50px;
    }
}

@media screen and (max-width: 768px) {
    .contacts__item {
        height: 45vw;
        width: 120px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .contacts__icon {
        font-size: 28px;
    }
    
    .contacts__type {
        font-size: 18px;
    }

    .contacts__text {
        font-size: 12px;
        line-height: 18px;
        height: 50px;
    }
}

@media screen and (max-width: 540px) {
    .contacts__type {
        font-size: 18px;
    }

    .contacts__text {
        font-size: 12px;
        line-height: 18px;
        height: 50px;
    }
}

@media screen and (max-width: 420px) {
    .contacts__item {
        width: 80px;
    }

    .contacts__icon {
        font-size: 20px;
    }
    
    .contacts__type {
        font-size: 14px;
    }

    .contacts__text {
        font-size: 10px;
        line-height: 10px;
    }
}