.header {
    position: fixed;
    height: var(--header-height);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.header__logo-link {
    color: black;
    font-weight: bold;
    height: 75%;
    width: 200px;
    text-align: center;
}

.header__logo-image {
    height: 100%;
}

.nav__list {
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.nav__element {
    font-size: 18px;
    
}

.nav__link {
    text-align: center;
    width: 120%;
    padding: 5px 0;
    color: black;
    font-weight: bold;
    transition: 0.3s;
}

.nav__link:hover {
    color: #de8504;
}

.header__contacts {
    text-align: right;
}

.header__phone {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1px;
}

.header__address {
    font-size: 16px;
    font-weight: normal;
}

.header__burger {
    display: none;
}

.header__cross {
    display: none;
}

@media screen and (max-width: 968px) {
    .header__logo-link {
        width: 125px;
    }
    .nav__list {
        width: 400px;
    } 
    .nav__element {
        font-size: 16px;
    }
    .nav__link {
        padding: 20px 0;
    }
    .header__phone {
        font-size: 16px;
    }
    .header__address {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        justify-content: space-between;
        padding: 0 40px;
    }
    .nav {
        display: none;
        position: absolute;
        width: 120vw;
        height: 100vh;
        top: 0%;
        left: -15%;
        background: white;
    }
    
    .header__burger, .header__cross {
        font-size: 24px;
        z-index: 1;
    }
    
    .header__burger {
        display: block;
    }

    .nav__list {
        height: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .header__contacts {
        display: none;
    }
}