.reserve__form {
    height: 300px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.reserve__choose {
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.reserve__selection {
    height: 50px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.reserve__selection > input, select {
    height: 25px;
    padding-left: 2px;
}

.reserve__additional {
    display: flex;
    flex-direction: column;
}

.reserve__additional > textarea {
    height: 50px;
    padding-left: 5px;
    resize: none;
}

.reserve__button {
    padding: 15px 50px;
    font-size: 18px;
    cursor: pointer;
}

.reserve__button:hover {
    color: white;
    background: #382030;
}

@media screen and (max-width: 968px) {
    .reserve__form {
        height: 350px;
        font-size: 16px;
        justify-content: space-evenly;
    }
    
    .reserve__additional > textarea {
        height: 75px;
        padding: 5px 0 0 5px;
        resize: none;
    }
    
    .reserve__button {
        padding: 10px 40px;
        font-size: 16px;
    }    
}

@media screen and (max-width: 768px) {
    .reserve__form {
        height: 400px;
        font-size: 16px;
        justify-content: space-evenly;
    }

    .reserve__selection {
        font-size: 14px;
    }

    .reserve__selection > input, select {
        height: auto;
        padding: 5px 0;
    }
    
    .reserve__additional > textarea {
        height: 55px;
        padding: 5px 0 0 5px;
        resize: none;
    }
    
    .reserve__button {
        padding: 15px 40px;
        font-size: 16px;
    }    
}